LDAP_ORGANISATION=Empresa POC
LDAP_DOMAIN=empresa.test
LDAP_BASE_DN=dc=empresa,dc=test

LDAP_ADMIN_PASSWORD=troque_esta_senha
LDAP_CONFIG_PASSWORD=troque_esta_senha

LDAP_PORT=3890
PHPLDAPADMIN_PORT=8082

POSTGRES_DB=superset
POSTGRES_USER=superset
POSTGRES_PASSWORD=troque_esta_senha
POSTGRES_PORT=5433
